.HeaderNew_parent_div {
    position: sticky;
background-color: darkblue;
    display: flex;
    height: 50px;
    width: auto;
    z-index: 999;
}

.HeaderNew_logo {    
     height: 5px;
    width: 100px;
    opacity: 1;
    z-index: 1000;
}

.HeaderNew_contact {
    background-color: blueviolet;
    display: flex
}

.HeaderNew_contactSticky {
    position: absolute;
    right: 25px;
    background-color: aquamarine;
}

.HeaderNew_logoImg
{
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    font-family: Georgia, serif;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    display : flex;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.brand-title-name
{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    font-family: Georgia, serif;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

