.nav-logo-div {
	display: flex;
	justify-items: center;
	padding-top: 0px;
}

.logo_image_n {
	width: 100px;
}

.nav-logo-subDiv1 {
	justify-items: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
}

.nav-logo-subDiv2 {
	justify-items: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	font-family: Georgia, serif;
	font-size: 20px;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-grow:1;
	flex-shrink:0;
	flex-wrap: wrap;
}

.navbarHeader {
	left: 0px;
	margin: 0px;
}

.me-auto {
	font-size: 20px;
	display: flex;
	justify-items: right;
	margin-left: 40px;
	gap :20px;
}